# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
venv/
env/

# Environment variables
.env

# Temporary files
temp/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

#json
*.json
app/service.account.json

